@import url('./src/css/fonts.css');

body {
  background-color: #2d323c;
  color: #333;
  font-size: 16px;
  line-height: 1.42857143;
  margin: 0;
  padding: 0;
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

*::before, *::after {
  box-sizing: inherit;
}

#app {
  -webkit-font-smoothing: antialiased;
  -maz-osx-font-smoothing: grayscale;
}

iframe {
  background: #fff;
  border: 0;
  width: 100%;
  height: 100%;
}

textarea {
  background: #333;
  box-shadow: 0 0 0 .1px rgba(255, 255, 255, .3);
  background-size: 36px;
  background-position: calc(100% - 16px) calc(100% - 16px);
  background-repeat: no-repeat;
  color: #fff;
  font-family: 'Fira Code';
  padding: 24px;
  font-size: 18px;
  resize: none;
  width: 100%;
  height: 100%;
}

textarea:focus {
  outline: none;
}

.editor {
  position: relative;
  overflow: hidden;
}

.editor::after {
  content: '';
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 1;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
}

#html::after {
  background-image: url('./assets/html5.svg');
}

#css::after {
  background-image: url('./assets/css3.svg');
}

#js::after {
  background-image: url('./assets/js.svg');
}

/* Estilos de grid para el layout */
.grid {
  display: grid;
  grid-template-columns: 1fr 5px 1fr;
  grid-template-rows: 1fr 5px 1fr;
  height: 100vh;
}

.vertical-gutter {
  cursor: col-resize;
  grid-area: 1 / 2 / 4 / 2;
  background: #666;
}

.horizontal-gutter {
  cursor: row-resize;
  grid-area: 2 / 1 / 2 / 4;
  background: #666;
}
/* monaco-editor styles */

.monaco-editor {
  padding-top: 24px;
}