@import url('./src/css/fonts.css');

body {
  background-color: #20252a;
  color: #333;
  font-size: 16px;
  line-height: 1.42857143;
  margin: 0;
  padding: 0;
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

*::before, *::after {
  box-sizing: inherit;
}

#app {
  display: grid;
  -webkit-font-smoothing: antialiased;
  -maz-osx-font-smoothing: grayscale;
  grid-template-columns: 72px 1fr;
}

iframe {
  background: #fff;
  border: 0;
  width: 100%;
  height: 100%;
}

.editor {
  position: relative;
  overflow: hidden;
}

.editor::after {
  content: '';
  position: absolute;
  right: 16px;
  bottom: 16px;
  z-index: 1;
  width: 48px;
  height: 48px;
  background-repeat: no-repeat;
}

#html::after {
  background-image: url('./assets/html5.svg');
}

#css::after {
  background-image: url('./assets/css3.svg');
}

#js::after {
  background-image: url('./assets/js.svg');
}

aside {
  background: #20252a;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

aside button {
  background: transparent;
  border: 0;
  cursor: pointer;
  width: 100%;
  opacity: .5;
  transition: opacity .1s ease;
  padding: 16px;
}

aside button:hover {
  opacity: 1;
}

aside svg {
  width: 40px;
  height: 40px;
}

aside header,
aside footer {
  display: flex;
  justify-content: center;
}

.view {

}

/* Estilos de grid para el layout */
.grid {
  display: grid;
  grid-template-columns: 1fr 5px 1fr;
  grid-template-rows: 1fr 5px 1fr;
  height: 100vh;
}

.vertical-gutter {
  cursor: col-resize;
  grid-area: 1 / 2 / 4 / 2;
  background: #20252a;
}

.horizontal-gutter {
  cursor: row-resize;
  grid-area: 2 / 1 / 2 / 4;
  background: #20252a;
}
/* monaco-editor styles */

.monaco-editor {
  padding-top: 24px;
}