.grid {
    display: grid;
    grid-template-columns: 1fr 5px 1fr;
    grid-template-rows: 1fr 5px 1fr;
    height: 100vh;
  }
  .vertical-gutter {
    cursor: col-resize;
    grid-area: 1 / 2 / 4 / 2;
    background: #2d323c;
  }
  .horizontal-gutter {
    cursor: row-resize;
    grid-area: 2 / 1 / 2 / 4;
    background: #2d323c;
  }